body {
  display: flex; /* If you want to use flex-direction you need display: flex */
  flex-direction: row;
}

#canvas {
  background-color: skyblue;
}

.box {
  flex: 1;
  background-color: red;
}
