body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: skyblue;
  border: 5px solid black;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

#volume {
  margin-left: 10px;
}
